<div id="dashboard">
  <h1>Admin dashboard</h1>

  <section id="transactions" class="span-10">
    <h2>Transactions</h2>
    <p>No transactions have been recorded</p>
    <ol>
      <li></li>
    </ol>
  </section>

  <section id="bitcoin_addresses" class="span-8 last">
    <h2>Bitcoin addresses</h2>
    <% if(payments !== undefined && payments.length > 0) { %>
      <ol>
        <% payments.forEach(function(payment) { %>
          <li>
            <article>
              <header>#<%= payment.get('id') %></header>
              <div class="details">
                <a href="#" class="show_keys">show keys</a>
                <address class="bitcoin_address">
                  <%= payment.get('bitcoin_address').address %>
                </address>
                <div class="keys">
                  <code>
                    <span>Private</span>
                    <%= payment.get('bitcoin_address').private_key %>
                  </code>
                  <code class="public">
                    <span>Public</span>
                    <%= payment.get('bitcoin_address').public_key %>
                  </code>
                </div>
                <%= BPS.simple_format(payment.get('description')) %>
              </div>
            </article>
          </li>
        <% }); %>
      </ol>
    <% } else { %>
      <p>No bitcoin addresses have been generated</p>
    <% } %>
  </section> 
</div>
