<div id="dashboard">
  <h1>Admin dashboard</h1>

  <section id="payments" class="span-10">
    <h2>Payments</h2>
    <p>No payments have been recorded</p>
    <ol>
      <li></li>
    </ol>
  </section>

  <section id="bitcoin_addresses" class="span-8 last">
    <h2>Bitcoin addresses</h2>
    <% if(bitcoin_addresses !== undefined && bitcoin_addresses.length > 0) { %>
      <ol>
        <% bitcoin_addresses.forEach(function(bitcoin_address) { %>
          <li>
            <article>
              <header>#<%= bitcoin_address.get('id') %></header>
              <div class="details">
                <a href="#" class="show_keys">show keys</a>
                <address class="bitcoin_address">
                  <%= bitcoin_address.get('address') %>
                </address>
                <div class="keys">
                  <code>
                    <span>Private</span>
                    <%= bitcoin_address.get('private_key') %>
                  </code>
                  <code class="public">
                    <span>Public</span>
                    <%= bitcoin_address.get('public_key') %>
                  </code>
                </div>
                <div class="description">
                  <%= BPS.simple_format(bitcoin_address.get('description')) %>
                </div>
              </div>
            </article>
          </li>
        <% }); %>
      </ol>
    <% } else { %>
      <p>No bitcoin addresses have been generated</p>
    <% } %>
  </section> 
</div>
