<div id="dashboard">
  <h1>Admin dashboard</h1>

  <section id="transactions" class="span-10">
    <h2>Transactions</h2>
    <p>No transactions have been recorded</p>
    <ol>
      <li></li>
    </ol>
  </section>

  <section id="payments" class="span-8 last">
    <h2>Payments</h2>
    <% if(payments !== undefined && payments.length > 0) { %>
      <ol>
        <% payments.forEach(function(payment) { %>
          <li>
            <article>
              <header>#<%= payment.get('id') %></header>
              <div class="payer">
                <span class="name"><%= payment.get('payer') %></span>
                <span class="email"><%= payment.get('email') %></span>
              </div>
              <address class="bitcoin_address"><%= payment.get('bitcoin_address').address %></address>
              <div class="details">
                <%= BPS.simple_format(payment.get('description')) %>
              </div>
            </article>
          </li>
        <% }); %>
      </ol>
    <% } else { %>
      <p>No payments have been initiated</p>
    <% } %>
  </section> 
</div>
