<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Demo Actions
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'blank slate', blank_slate_demo_path %></li>
    <li><%= link_to 'setup site', setup_site_demo_path %></li>
    <li><%= link_to 'sign in', sign_in_demo_path %></li>
    <li><%= link_to 'add bitcoin address', add_bitcoin_address_demo_path %></li>
    <li><%= link_to 'add demo payment (only one available)', add_payment_demo_path %></li>
  </ul>
</li>

