<section id="dev-bar">
  <strong>Dev Bar</strong>
  <ul>
    <li><%= link_to 'blank slate', blank_slate_dev_path %></li>
    <li><%= link_to 'setup site', setup_site_dev_path %></li>
    <li><%= link_to 'sign in', sign_in_dev_path %></li>
    <li><%= link_to 'add bitcoin address', add_bitcoin_address_dev_path %></li>
    <li><%= link_to 'add payment', add_payment_dev_path %></li>
  </ul>
</section>
