<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=768">
  <title><%= site_locked? ? site_data.name : "BPS" %></title>

  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'admin' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag '/blueprint/ie'%><![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
  
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<body class="admin">
  <%= render partial: 'layouts/demo_bar' if show_demo_bar? %>
  <div class="container">
    <%= render partial: "layouts/nav_bar" %>
    <div id="admin-panel">
      <section id="side-menu" class="panel">
        <header>
          <%= link_to root_path do %>
            <h1>
              <% if site_locked? %>
                <%= site_data.name %>
              <% else %>
                Bitcoin Payment Service
              <% end %>
            </h1>
          <% end %>
        </header>
        <nav id="side-menu">
          <ul class="touchable">
            <li class="first"><a href="#">Payments</a></li>
            <li><a href="#">Bitcoin Addresses</a></li>
            <li><a href="#">Site</a></li>
            <li><a href="#">Account</a></li>
            <li class="trail"></li>
          </ul>
        </nav>
      </section>
      <section id="main-panel" class="panel">
        <header>
          <h2>Payments</h2>
        </header>
        <div id="main">
          <%= yield %>
        </div>
      </section>
    </div>    
    <%= render partial: "layouts/footer" %>
  </div>
</body>
</html>
