<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=820">
  <title>BPS</title>

  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'admin' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag '/blueprint/ie'%><![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
  
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<body class="admin">
  <%= render partial: 'layouts/demo_bar' if show_demo_bar? %>
  <div class="container">
    <div class="prepend-1 span-18 append-1 last">
      <header id="header">
        <%= render partial: "layouts/nav_bar" %>
        <figure>
          <img src="<%= gravatar_url %>"></img>
        </figure>
        <%= link_to root_path do %>
          <h2>
            <% if site_locked? %>
              <%= site_data.name %>
            <% else %>
              Bitcoin Payment Service
            <% end %>
          </h2>
        <% end %>
      </header>
      <% [:success, :notice, :error, :alert].each do |flash_type| %>
        <% if flash[flash_type] %>
          <p class="flash <%= flash_type.to_s %>"><%= flash[flash_type] %></p>
        <% end %>
      <% end %>
      <section id="main">
        <%= yield %>
      </section>
      <footer>
      </footer>
    </div>
  </div>
</body>
</html>
