<!DOCTYPE html>
<html>
<head>
  <title>BPS</title>

  <%= stylesheet_link_tag 'application' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag '/blueprint/ie'%><![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="prepend-3 span-15 append-6 last">
    
      <header id="header">
        <%= link_to root_path do %>
          <h2>
            <% if Site.locked_to_owner? %>
              <%= Site.data.name %>
            <% else %>
              Bitcoin Payment Service
            <% end %>
          </h2>
        <% end %>
      </header>
      <% [:success, :notice, :error].each do |flash_type| %>
        <% if flash[flash_type] %>
          <p class="flash <%= flash_type.to_s %>"><%= flash[flash_type] %></p>
        <% end %>
      <% end %>
      <section id="main">
        <%= yield %>
      </section>
      <footer>
        <%= render partial: 'layouts/dev_bar' if Rails.env.development? %>
      </footer>
    </div>
  </div>
</body>
</html>
