<!DOCTYPE html>
<html>
<head>
  <title>BPS</title>

  <%= stylesheet_link_tag 'application' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag '/blueprint/ie'%><![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/dev_bar' if Rails.env.development? %>
  <div class="container">
    
    <header id="header">
      <%= link_to root_path do %>
        <h1>Bitcoin Payment Service</h1>
      <% end %>
    </header>
    <% if flash[:success] %>
      <p class="flash success"><%= flash[:success] %></p>
    <% end %>
    <% if flash[:notice] %>
      <p class="flash notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="flash error"><%= flash[:error] %></p>
    <% end %>    
    <section id="main">
      <%= yield %>
    </section>
  </div>
</body>
</html>
